<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Management</title>
  <style>
    .container {
      margin: 5rem auto 5rem auto;
      width: 80%;
    }

    .row {
      justify-content: center;
    }

    .card {
      border: 1px solid #ccc;
      border-radius: 10px;
    }

    .card-body {
      padding: 1rem;
    }

    .card-title {
      font-size: 1.5rem;
      text-align: center;
    }

    .text-center {
      text-align: center;
      font-size: 1.5rem;
    }

    .col {
      justify-content: center;
      margin: 0 auto;
    }

    .list-group {
      margin-top: 1rem;
    }

    .list-group-item {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      font-size: 1.5rem;
    }

    .list-group-item p {
      margin-left: auto;
      padding: 0.5rem;
    }

    .profile-text {
      display: inline;
      color: blueviolet;
      font-weight: 400;
    }

    .btn {
      display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      user-select: none;
      border: 1px solid transparent;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      text-decoration: none;
      color: white !important;
      border-radius: 0.25rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }


    .btn-success {
      color: #fff;
      background-color: #28a745;
      border-color: #28a745;
    }

    .btn-success:hover {
      color: #fff;
      background-color: #218838;
      border-color: #1e7e34;
    }

    .btn-success:focus,
    .btn-success.focus {
      color: #fff;
      background-color: #218838;
      border-color: #1e7e34;
      box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
    }

    .btn-success.disabled,
    .btn-success:disabled {
      color: #fff;
      background-color: #28a745;
      border-color: #28a745;
      opacity: 0.65;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <p class="text-center">Below Task is Approved and Forwarded by Admin to HR Department</p>
            <h1 class="card-title">Task</h1>
            <div class="col col-md-6">
              <ul class="list-group">
                <li class="list-group-item" >
                  Task Id
                  <p class="badge profile-text" ><%= @task.uid %></p>
                </li>
                <li class="list-group-item" >
                  Task Name
                  <p class="badge profile-text" ><%= @task.task_name %></p>
                </li>
                <li class="list-group-item" >
                  Assigned To
                  <p class="badge profile-text"><%= "#{@task.user.name} #{@task.user.surname}" %></p>
                </li>
                <li class="list-group-item" >
                  Task Date
                  <p class="badge profile-text"><%= @task.task_date.strftime("%A, %B %d, %Y") %></p>
                </li>
                <li class="list-group-item" >
                  Task Time
                  <p class="badge profile-text"><%= @task.task_date.strftime("%H:%M %p") %></p>
                </li>
                <li class="list-group-item" >
                  Total Subtask
                  <p class="badge profile-text"><%= @task.sub_tasks.count %></p>
                </li>
                <li class="list-group-item" >
                  Description
                  <p class="badge profile-text"><%= @task.description %></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
