<div class="min-height-300 bg-primary position-absolute blue-bar"></div>
<div class="container-fluid mt-5 position-relative">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12 hover" id="assign-task-to-user">
          <div class="card mb-4 custom-card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">
                      Assign Task
                    </p>
                    <p class="mb-0">To Employee</p>
                  </div>
                </div>
                <div class="col-4 text-end d-flex align-items-center justify-content-center">
                  <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle"
                    id="add-user">
                    <%= image_tag "task.png" , {class: "rounded-circle" ,alt: "Hi" } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-4 custom-card">
        <div class="card-body p-3 table-responsive-sm table-responsive-md table-responsive-lg">
          <h4 class="text-center">Already assiened tasks to the other users</h4>
          <table class="table caption-top">
            <thead>
              <tr>
                <th scope="col">Task Name</th>
                <th scope="col">Task Category</th>
                <th scope="col">Task Date</th>
                <th scope="col">Task Time</th>
                <th scope="col">Assigned to</th>
                <th scope="col">Importance</th>
                <th scope="col">Status</th>
                <th scope="col">Control</th>
              </tr>
            </thead>
            <tbody id="assigned_task_list">

              <% if @all_assigned_tasks.count==0 %>
                <tr id="no_record_row">
                  <td colspan="8" class="text-center">
                    No Records available
                  </td>
                </tr>
                <% end %>

                  <% @all_assigned_tasks.each do |task| %>
                    <tr>
                      <td>
                        <%=task.task_name%>
                      </td>
                      <td>
                        <%=task.task_category.task_name%>
                      </td>
                      <td>
                        <%=task.task_date.strftime("%A, %B %d, %Y") if task.task_date !=nil%>
                      </td>
                      <td>
                        <%=task.task_time.strftime("%H:%M %p") if task.task_date !=nil%>
                      </td>
                      <td>
                        <%= task.user.name+" "+task.user.surname %></td>
                  <td><%= task.task_importance %></td>
                  <td><%= task.status %></td>
                  <td>
                     <ul class=" list-inline m-0">
                          <li class="list-inline-item">
                            <%= link_to edit_task_path(task),class: "btn btn-success" do%>
                              <i class="fa fa-edit"></i>
                              <% end%>
                          </li>
                          <li class="list-inline-item">
                            <%= link_to task_path(task),data: {method: :delete, confirm: 'Are you sure?'
                              },class: "btn btn-danger" do%>
                              <i class="fa fa-trash"></i>
                              <% end%>
                          </li>
                          <li class="list-inline-item">
                            <%= link_to task_path(task,k: 1),:class=> "btn btn-primary" do %>
                              <i class="fa fa-eye"></i>
                              <% end %>
                          </li>
                          <% if(task.task_approval==false)%>
                            <li class="list-inline-item" id="approve_task_btn<%= task.id%>">
                              <button class="btn btn-primary approve_task_btn" data="<%= task.id%>">Approve</button>
                            </li>
                            <% else  %>
                              <li class="list-inline-item">
                              <button class="btn btn-outline-success approve_task_btn" disabled>Approved &#10003</button>
                              </li>
                            <% end %>
                              </ul>
                      </td>
                    </tr>
                    <% end %>
            </tbody>
          </table>
          <div class="d-flex justify-content-center">
            <%= paginate @all_assigned_tasks %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="task-add-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Assign Task</h5>
      </div>
      <div class="modal-body">

        <div class="form-group mt-3">
          <label for="task-name" class="form-label">Task Name</label>
          <input type="text" class="form-control" id="task-name" placeholder="Task Name" />
          <p id="task-name-error" class="text-danger"></p>
        </div>
        <div class="form-group mt-3">
          <label for="description" class="form-label">Task Descryption</label>
          <textarea class="form-control" id="description" rows="3" id="task-descryption"></textarea>
          <p id="task-des-error" class="text-danger"></p>
        </div>
        <div class="form-group mt-3">
          <label for="task-category">Task Category</label>
          <select id="task-category" class="form-select">
            <option selected>Choose...</option>
            <% @task_category.each do |category| %>
              <option value="<%=category.id%>">
                <%= category.task_name %>
              </option>
              <% end %>
          </select>
          <p id="task-category-error" class="text-danger"></p>
        </div>

        <div class="form-group mt-3">
          <ul id="sub-task-list">
          </ul>
          <input type="text" class="form-control" id="sub-task-input" placeholder="Sub Task" />
          <button id="add-subtask" class="btn btn-primary mt-2">Add Subtask</button>

        </div>
        <div class="form-group mt-3">
          <label for="task-date">Day task to be performed</label>
          <input type="date" class="form-control" id="task-date" min="<%= Date.tomorrow%>" name="task-date" onfocus="this.showPicker()"
            placeholder="Task Date" />
          <p id="task-date-error" class="text-danger"></p>
        </div>
        <div class="form-group mt-3">
          <label for="task-time">Time task to be performed</label>
          <input type="time" class="form-control" id="task-time" placeholder="Task Time" onfocus="this.showPicker()" />
          <p id="task-time-error" class="text-danger"></p>
        </div>
        <div class="form-group mt-3">
          <label for="assign-to">Assign To</label>
          <select id="assign-to" class="form-select">
            <option selected>Choose...</option>
            <% @all_users.each do |user| %>
              <option value="<%=user.id%>">
                <%= user.name+" "+user.surname %></option>
            <% end %>
          </select>
          <p id=" assign-to-error" class="text-danger">
                  </p>
        </div>
        <div class=" form-group mt-3">
          <label for="task-priority">Priority</label>
          <select id="task-priority" class="form-select">
            <option selected>Choose...</option>
            <option value="0">Low</option>
            <option value="1">Medium</option>
            <option value="2">High</option>
          </select>
          <p id="task-priority-error" class="text-danger"></p>
        </div>
        <div class=" form-group mt-3">
          <label class="form-check-label" for="repetation-cycle">
            Repeat Interval for task notification
          </label>
          <div class="form-check" id="repetation-cycle">
            <input class="form-check-input" type="radio" name="Interval" value="0">
            <label class="form-check-label" for="flexRadioDefault1">
              One Time
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Interval" value="1">
            <label class="form-check-label" for="flexRadioDefault1">
              Daily
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Interval" value="2">
            <label class="form-check-label" for="flexRadioDefault1">
              Weekly
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Interval" value="3">
            <label class="form-check-label" for="flexRadioDefault1">
              Monthly
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Interval" value="4">
            <label class="form-check-label" for="flexRadioDefault1">
              Quarterly
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Interval" value="5">
            <label class="form-check-label" for="flexRadioDefault1">
              Half-yearly
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Interval" value="6">
            <label class="form-check-label" for="flexRadioDefault1">
              Yearly
            </label>
          </div>
          <p id="repeat-interval-error" class="text-danger"></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="assign-task">
          Assign Task
        </button>
      </div>
    </div>
  </div>
</div>